* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: '/src/assets/BeautyRachela-Regular.otf';
  color: #43302b;
  line-height: 1.6;
}

.recipes-grid,
.categories-grid {
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
}

.recipes-grid {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.categories-grid {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width: 768px) {
  .recipes-grid,
  .categories-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
}
